@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeogonPrincess';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/DeogonPrincess.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Y_Spotlight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: auto;
  background-color: black;
  font-family: 'GangwonEdu_OTFBoldA';
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 3s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.main {
  font-family: 'Y_Spotlight';
  text-align: center;
}

.pick {
  font-family: 'Y_Spotlight';
  font-size: xx-large;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.lotto-number {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: .5rem;
  background-color: rgb(55, 196, 55);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
}

.lotto-container {
  display: flex;
  justify-content: center;
  animation: bounceInDown;
  animation-duration: 0.5s;
}

.lotto-res {
  padding-bottom: 6rem;
}